name: CI/CD - Test, Build & Push

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    # 1. Lấy code về
    - name: Checkout code
      uses: actions/checkout@v4

    # 2. Cài đặt môi trường .NET để chạy Test
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    # 3. Chạy Unit Test (Quan trọng: Test phải qua mới được đi tiếp)
    - name: Run Unit Tests
      run: dotnet test --verbosity normal

    # 4. Đăng nhập Docker Hub (Chỉ chạy nếu bước Test ở trên thành công)
    - name: Login to Docker Hub
      if: success() 
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 5. Cài đặt Docker Buildx
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # --- BẮT ĐẦU BUILD & PUSH CÁC SERVICE ---

    # Service 1: API Gateway
    - name: Build & Push API Gateway
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Service_API_Gateway/Dockerfile
        push: true
        tags: honqlee/cw_amd201:apigateway-latest

    # Service 2: Identity
    - name: Build & Push Identity
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Service_Identity/Dockerfile
        push: true
        tags: honqlee/cw_amd201:identity-latest

    # Service 3: CRUD
    - name: Build & Push CRUD
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Service_CRUD/Dockerfile
        push: true
        tags: honqlee/cw_amd201:crud-latest

    # Service 4: URL Shorten
    - name: Build & Push URL Shorten
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Service_URL_Shorten/Dockerfile
        push: true
        tags: honqlee/cw_amd201:urlshorten-latest

    # Service 5: Frontend
    - name: Build & Push Frontend
      uses: docker/build-push-action@v5
      with:
        context: ./url-shortener-frontend
        file: ./url-shortener-frontend/Dockerfile
        push: true
        tags: honqlee/cw_amd201:urlshorten-frontend-latest
